@import '~antd/dist/antd.css';

.g-btn {
  width: 100% !important;
  height: 50px !important;
  line-height: 50px !important;
  font-size: 18px !important;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.icon-btn {
  position: fixed;
  bottom: 0;
  left: 25px;
  color: black;
  border: none;
  background-color: white;
  margin: 20px 0;
  width: 30px;
  height: 30px;
  padding: 0px;
}

.icon-btn:hover {
  background-color: white;
  color: black;
}

.icon-btn:focus {
  background-color: white;
  color: black;
}

.icon {
  font-size: 30px;
}

.page-btn {
  width: 100%;
  border-radius: 10px;
  background-color: #434343;
  border-color: black;
}

.page-btn:hover {
  background-color: #434343;
  border-color: black;
}

.page-btn:focus {
  background-color: #434343;
  border-color: black;
}

input[type=file] {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

input[type=file]::file-selector-button {
  color: white;
  height: 40px;
  margin-left: 25px;
  border-radius: 10px;
  background-color: #434343;
  border-color: black;
}

input[type=file]::file-selector-button:hover {
  color: black;
  background-color: white;
  border-color: black;
  cursor: pointer;
}

textarea {
  border-radius: 10px!important;
}

.post-place {
  border: 1px solid #d9d9d9;
  min-height: 150px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 40px;
  padding: 10px;
  word-break: break-all;
}

.post-text {
  margin-bottom: 20px;
  font-weight: 400;
  text-align: justify;
  word-break: keep-all;
  word-wrap: break-word;
  font-size: small;
}

.post-author {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: xx-small;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 5px;
}

.post-reaction {
  display: inline-block;
  padding: 0;
  padding-right: 20px;
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: medium;
}

.post-reaction:hover {
  color: black;
}

.post-reaction:focus {
  color: black;
  border-color: #fafafa!important;
  background: none;
}

.post-reaction:active {
  background: none;
}